body {
    background-color: beige;
}

.container {
    width: 1024px;
    margin: 0 auto;
    padding: 150px;
}

.dashboard {
    margin-bottom: 30px;
}

.green {
    color: green;
}

.red {
    color: red;
}
